.form .form-login {
  display: flex;
  margin: auto;
  flex-direction: column;
  border: 1px solid #ccc;
  margin-bottom: 25px;
  padding: 15px 10px;
  width: 70%;
}
.form .form-login label {
  text-align: right;
  margin-bottom: 5px;
}
.form .form-login input {
  border: none;
  padding: 15px 5px;
}
.form .form-login input::placeholder {
  opacity: 1;
  transition: 0.3s;
}
.form .form-login input:focus {
  outline: none;
}
.form .form-login input:focus::placeholder {
  opacity: 0;
}
.form .tool-login {
  width: 70%;
  margin: auto;
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
}
.form .tool-login svg {
  font-size: 2rem;
}
.form .tool-login .reset {
  text-decoration: none;
  color: #777;
  font-size: 1.3rem;
  transition: 0.3s;
}
.form .tool-login .reset:hover {
  color: aquamarine;
}
.form .login-setting {
  width: 70%;
  margin: auto;
  padding: 25px 20px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.form .login-setting .new-user,
.form .login-setting .active-mobile {
  border: 1px solid #ccc;
  padding: 25px 25px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  color: #777;
}
@media only screen and (max-width: 500px) {
  .form .tool-login {
    justify-content: space-between;
    gap: 30px;
    padding: 10px 5px;
    font-size: 15px;
  }
  .form .tool-login .reset {
    font-size: 0.8rem;
  }
  .form .login-setting {
    justify-content: space-between;
    gap: 30px;
    padding: 10px 5px;
    font-size: 15px;
  }
  .form .login-setting .new-user,
  .form .login-setting .active-mobile {
    padding: 15px 0px;
  }
}
